<div class="Header">
    PRODUCTS
</div>
<div class="pageWrapper">
    <p class="para">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro tempore sint ipsam, magni voluptatem et corporis
        modi. Deleniti laudantium ullam illum, aliquam necessitatibus ut maiores quisquam reiciendis, ab quod temporibus
        modi fugiat error exercitationem eaque earum dolorem pariatur labore delectus nemo unde optio repellendus a
        quibusdam. Accusantium illum atque odio eius debitis sed repellat dignissimos ipsa nulla fugit sint, recusandae
        distinctio quam. Obcaecati quis rerum adipisci. Ab vero culpa molestias fuga necessitatibus accusamus
        voluptatibus, tempore laborum veritatis velit maxime doloremque possimus consequatur repudiandae et ipsa quis,
        nesciunt perspiciatis minus dicta cum provident? Eligendi magni recusandae id ut maxime aperiam rem?
        <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum consectetur architecto porro laboriosam quis
        quia nulla ad molestias, maiores corrupti numquam sed sapiente reiciendis tempore voluptatibus! Odit alias at,
        harum accusamus ex laborum! Esse quasi, tempora officia illum laboriosam quo perspiciatis excepturi vitae eius!
        Quo dolores voluptates animi architecto deserunt error obcaecati, natus itaque reprehenderit.
    </p>

    <hr>
    <div class="pageContent">

        <div class="row justify-content-around">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 text-center card">

                <div class="productImage">
                    <img src="../../../assets/icons/greenjeep.gif" id="productIcon" alt="">
                </div>

                <div class="productName">
                    Go Off-Road
                </div>
                <!-- <hr> -->
                <div class="productDescription">
                    We have a wide range of SUV for you to choose from. Right from JEEP to Lamborghini.


                    <div class="catalogueButton">
                        Explore our services
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 text-center card">


                <div class="productImage">
                    <img src="../../../assets/icons/Tesla.png" id="productIcon" alt="">
                </div>

                <div class="productName">
                    Electric Cars
                </div>
                <!-- <hr> -->
                <div class="productDescription">
                    Wide range of Electric Cars for you to choose from. Right from Tesla Model 3 to Rimac_C2.



                    <div class="catalogueButton">
                        Explore our services
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 text-center card">


                <div class="productImage">
                    <img src="../../../assets/icons/SportsBike.png" id="productIcon" alt="">
                </div>

                <div class="productName">
                    Sports Bike
                </div>
                <!-- <hr> -->
                <div class="productDescription">
                    We have a wide range of Sports Bike for you to choose from.
                    <div class="catalogueButton">
                        Explore our services
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center card">


                <div class="productImage">
                    <img src="../../../assets/icons/hatchback.png" id="productIcon" alt="">
                </div>

                <div class="productName">
                    Hatchbacks
                </div>
                <!-- <hr> -->
                <div class="productDescription">
                    Choose from a wide range of hatchback for the road trip you have been planning for.
                    <div class="catalogueButton">
                        Explore our services
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center card">


                <div class="productImage">
                    <img src="../../../assets/icons/cycle.gif" id="productIcon" alt="">
                </div>

                <div class="productName">

                    Electric Cycles
                </div>
                <!-- <hr> -->
                <div class="productDescription">
                    Choose from a wide range of electric bicycle for your weekend getaways


                    <div class="catalogueButton">
                        Explore our services
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center card">


                <div class="productImage">
                    <img src="../../../assets/icons/cycle2.gif" id="productIcon" alt="">
                </div>

                <div class="productName">
                    Bicycles
                </div>
                <!-- <hr> -->
                <div class="productDescription">
                    Choose from a wide range of bicycle for your weekend getaways



                    <div class="catalogueButton">
                        Explore our services
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>