<div class=" text-center TextHeader">

  <div class="row">
    <div class="col-4 BrandName">
      ABBY NG APP
    </div>
    <div class="col">
      <div class="row navbar">
        <div class="col navlink" routerLink="/homepage" routerLinkActive="active">Home</div>
        <div class="col navlink" routerLink="/about" routerLinkActive="active">About Us</div>
        <div class="col navlink" routerLink="/products" routerLinkActive="active">Products</div>
        <div class="col navlink" routerLink="/github" routerLinkActive="active">GitHub</div>

      </div>
    </div>
    <div class="col-1"></div>
  </div>

</div>

<router-outlet></router-outlet>

<div class="footer">
  All Rights Reserved
</div>