<div class="Header">
    ABOUT US
</div>
<div class="pageWrapper">



    <div class="pageContent">
        <p class="para">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium fugit maxime velit soluta ut ipsa nihil
            doloremque? Voluptatem dignissimos illo magnam, molestias fugiat beatae quae culpa quis sit dolores at
            laboriosam nulla hic! Doloremque quos deleniti aliquid! Explicabo ut eaque ab sunt a perferendis soluta
            odit, iure voluptates dolorum mollitia sapiente. Officia earum autem rerum harum quod placeat nisi esse,
            illo corrupti iste! Atque fuga minus iure voluptates nisi officiis nobis illo. Maxime distinctio adipisci
            velit. Possimus consequatur nam aut veritatis qui voluptatum provident numquam, sequi reprehenderit, eveniet
            in ipsam consectetur sed exercitationem optio beatae? Quisquam quibusdam iure incidunt ipsum.
        </p>
        <ul>
            <li>

                <div class="listHeader">
                    <b>Abhishek Halder</b>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, nemo saepe. A ipsam facilis iste
                        sapiente fuga aut officia possimus rem sed perferendis accusamus earum voluptate sunt cum, nisi
                        aliquam.</p>
                </div>

            </li>
            <li>

                <div class="listHeader">
                    <b>Bhava Vyasa Hari</b>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, nemo saepe. A ipsam facilis iste
                        sapiente fuga aut officia possimus rem sed perferendis accusamus earum voluptate sunt cum, nisi
                        aliquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi incidunt hic aspernatur
                        modi dolorum ex animi, aut expedita. Magni, ex.</p>
                </div>

            </li>
            <li>

                <div class="listHeader">
                    <b>Pathik Mistry</b>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, nemo saepe. A ipsam facilis iste
                        sapiente fuga aut officia possimus rem sed perferendis accusamus earum voluptate sunt cum, nisi
                        aliquam.</p>
                </div>

            </li>
            <li>

                <div class="listHeader">
                    <b>Samarth Gupta</b>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, nemo saepe. A ipsam facilis iste
                        sapiente fuga aut officia possimus rem sed perferendis accusamus earum voluptate sunt cum, nisi
                        aliquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi asperiores natus, magnam
                        ducimus soluta earum atque id totam, accusantium officia adipisci blanditiis iste obcaecati,
                        repellat suscipit architecto quasi labore tempore beatae eligendi delectus? Molestias eligendi
                        quasi nihil dolore nobis ipsam animi, aut dignissimos omnis a modi hic, similique officia alias
                        eos. Incidunt ut est quisquam consectetur aliquam maxime at obcaecati.</p>
                </div>

            </li>
        </ul>

    </div>
</div>